<div class="nav">

    <ul>
        <li>
            <a href="/">
                <svg class="navIcon" xmlns="http://www.w3.org/2000/svg" width="32.727" height="27.726" viewBox="0 0 32.727 27.726">
                    <path id="home" d="M13.106,27.726H4.9V14.665H0L16.325,0l16.4,14.665h-4.9V27.726h-8.2V17.949H13.106Z"/>
                </svg>
            </a>
        </li>

        <li>
            <a href="/home">
                <svg class="navIcon" xmlns="http://www.w3.org/2000/svg" width="31.735" height="27.762" viewBox="0 0 31.735 27.762">
                    <g id="Group_180" data-name="Group 180" transform="translate(0)">
                        <path id="heart" d="M15.868,27.762a1.049,1.049,0,0,1-.779-.326L4.038,16.556a5.918,5.918,0,0,1-.487-.47q-.309-.325-.983-1.184a15.972,15.972,0,0,1-1.2-1.762,11.1,11.1,0,0,1-.948-2.187A8.034,8.034,0,0,1,0,8.459,8.387,8.387,0,0,1,2.249,2.241,8.418,8.418,0,0,1,8.466,0a6.925,6.925,0,0,1,2.24.389,9.02,9.02,0,0,1,2.125,1.048q.984.659,1.691,1.238A16.807,16.807,0,0,1,15.868,3.9a16.411,16.411,0,0,1,1.346-1.229q.709-.578,1.692-1.238A9,9,0,0,1,21.031.389,6.928,6.928,0,0,1,23.271,0a8.417,8.417,0,0,1,6.216,2.241,8.387,8.387,0,0,1,2.249,6.218q0,3.995-4.055,8.133L16.647,27.437a1.049,1.049,0,0,1-.779.326Z" transform="translate(0 0)"/>
                        <path id="music" d="M7.574,9.826A1.9,1.9,0,0,1,6.34,9.415a1.221,1.221,0,0,1,0-1.985,1.912,1.912,0,0,1,1.239-.411,2.078,2.078,0,0,1,.583.088V2.95L3.5,4.069V9.826a1.237,1.237,0,0,1-.51.993,1.909,1.909,0,0,1-1.239.411A1.914,1.914,0,0,1,.51,10.819a1.221,1.221,0,0,1,0-1.985,1.914,1.914,0,0,1,1.239-.411,2.078,2.078,0,0,1,.583.088v-6.4a.748.748,0,0,1,.173-.494.519.519,0,0,1,.41-.208L8.745,0a.524.524,0,0,1,.41.2.742.742,0,0,1,.173.5V8.423a1.234,1.234,0,0,1-.515.993,1.921,1.921,0,0,1-1.239.411Z" transform="translate(10.781 8.266)" fill="#fff"/>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a href="/list">
                <svg class="navIcon" xmlns="http://www.w3.org/2000/svg" width="31.495" height="21.682" viewBox="0 0 31.495 21.682">
                    <g id="play-list-check" transform="translate(0 0)">
                        <path id="Path_82" data-name="Path 82" d="M25.285,9H4.5v3.452H25.285Z" transform="translate(-4.5 -9)"/>
                        <path id="Path_83" data-name="Path 83" d="M25.285,15H4.5v3.452H25.285Z" transform="translate(-4.5 -8.096)"/>
                        <path id="Path_84" data-name="Path 84" d="M4.5,21H18.356v3.452H4.5Z" transform="translate(-4.5 -7.191)"/>
                        <path id="Path_85" data-name="Path 85" d="M17.985,23.337,20.436,20.9l3.673,3.66,7.35-7.322,2.449,2.441-9.8,9.765-6.123-6.1Z" transform="translate(-2.414 -7.759)"/>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a href="/settings">
                <svg class="navIcon" xmlns="http://www.w3.org/2000/svg" width="27.565" height="27.497" viewBox="0 0 27.565 27.497">
                    <path id="__TEMP__SVG__" d="M30.194,14.659l-3.081-.917a10.657,10.657,0,0,0-.874-2.136l1.508-2.814a.558.558,0,0,0-.1-.66l-2.2-2.2a.562.562,0,0,0-.662-.1L21.981,7.326A10.707,10.707,0,0,0,19.81,6.41l-.92-3.034A.561.561,0,0,0,18.348,3H15.239a.561.561,0,0,0-.533.394l-.92,3.025a10.716,10.716,0,0,0-2.189.917L8.838,5.851a.562.562,0,0,0-.662.1L5.941,8.124a.558.558,0,0,0-.1.66l1.49,2.75a10.64,10.64,0,0,0-.92,2.172l-3.044.917a.559.559,0,0,0-.4.532v3.1a.559.559,0,0,0,.4.532l3.063.917a10.631,10.631,0,0,0,.92,2.136L5.84,24.714a.558.558,0,0,0,.1.66l2.2,2.191a.562.562,0,0,0,.662.1l2.842-1.512a10.736,10.736,0,0,0,2.115.862l.92,3.089a.561.561,0,0,0,.533.394H18.32a.561.561,0,0,0,.533-.394l.92-3.1a10.718,10.718,0,0,0,2.1-.862l2.86,1.522a.562.562,0,0,0,.662-.1l2.2-2.191a.558.558,0,0,0,.1-.66l-1.527-2.841a10.64,10.64,0,0,0,.874-2.1l3.1-.917a.559.559,0,0,0,.4-.532V15.2a.559.559,0,0,0-.34-.541Zm-13.4,7.131a5.041,5.041,0,1,1,5.059-5.041,5.05,5.05,0,0,1-5.059,5.041Z" transform="translate(-2.97 -3)"/>
                </svg>
            </a>
        </li>
    </ul>

</div>