{{> header}}
{{> background}}

<div class="homepage">
    <h1>Hello</h1>
    <h2>Here is the list of your liked songs</h2>

    <ul class="mainList">
        {{#each song}}
        <li>
            <ul>
                {{#each this as |value key| }}
                    <li>{{@value}}</li>
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>

</div>

{{> nav}}
