{{> header}}
{{> background}}

<div class="positioning">
    <h1>Sign Up</h1>
    <form action="./signup" method="post">
        <div>
                <fieldset>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                </fieldset>

                <fieldset>
                    <label for="password">Password</label>
                    <input type="password"  name="password" id="password" required>
                </fieldset>

                <a href="/forgot-password" class="forgot">I forgot my password</a>
        </div>
        <div>
            <button type="submit">Sign Up</button>
            <p>or <a href="/login">log in</a></p>
        </div>
    </form>

</div>