{{> header}}
{{> background}}

<div class="positioning">
    <h1>Sign Up</h1>
    <form action="./signup" method="post">
        <div>

                <fieldset>
                    <label for="email">Email</label>
                    <input type="email"  name="email" id="email" required>
                </fieldset>

                <fieldset>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                </fieldset>

                <fieldset>
                    <label for="password">Password</label>
                    <input type="password"  name="password" id="password" minlength="8" required>
                </fieldset>

                <fieldset>
                    <label for="passwordrepeat">Repeat Password</label>
                    <input type="password"  name="passwordrepeat" id="passwordrepeat" minlength="8" required>
                </fieldset>

                <fieldset>
                    <label for="location">Location</label>
                </fieldset>
                
                <fieldset class="coordinates">
                    <div>
                        <label for="latitude">latitude</label>
                        <label for="longtitude">longitude</label>
                    </div>
                    <div>
                        <input type="text" name="latitude" id="lat">
                        <input type="text" name="longitude" id="long">
                    </div>

                    {{!-- <p>Location not available — JavaScript turned off</p> --}}
                </fieldset>

        </div>
        <div>
            <button type="submit">Sign Up</button>
            <p>or <a href="/login">log in</a></p>
        </div>
    </form>

</div>

<script src="/form.js" defer></script>