/* 
    ====================================
    ========= FONT POPPINS =============
    ====================================
*/
/* 
    ====================
          regular
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400, normal;
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400, normal;
}
/* 
    ====================
          bold
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800, bold;
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-bolditalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800, bold;
}
/* 
    ====================
          light
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-light.ttf) format("truetype");
  font-style: normal;
  font-weight: 100, lighter;
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-lightitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100, lighter;
}
/* 
    ====================================
    ======= FONT MONTSERRAT ============
    ====================================
*/
/* 
    ====================
          regular
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 400, normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-mediumitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400, normal;
}
/* 
    ====================
          bold
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800, bold;
}
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-bolditalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800, bold;
}
/* 
    ====================
          light
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-light.ttf) format("truetype");
  font-style: normal;
  font-weight: 100, lighter;
}
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-lightitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100, lighter;
}
/* 
    ====================================
    ========= FONT POPPINS =============
    ====================================
*/
/* 
    ====================
          regular
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400, normal;
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400, normal;
}
/* 
    ====================
          bold
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800, bold;
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-bolditalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800, bold;
}
/* 
    ====================
          light
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-light.ttf) format("truetype");
  font-style: normal;
  font-weight: 100, lighter;
}
@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/poppins/poppins-lightitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100, lighter;
}
/* 
    ====================================
    ======= FONT MONTSERRAT ============
    ====================================
*/
/* 
    ====================
          regular
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 400, normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-mediumitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400, normal;
}
/* 
    ====================
          bold
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800, bold;
}
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-bolditalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800, bold;
}
/* 
    ====================
          light
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-light.ttf) format("truetype");
  font-style: normal;
  font-weight: 100, lighter;
}
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/montserrat-lightitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100, lighter;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.header {
  width: 100vw;
  height: 3rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.header a {
  text-decoration: none;
}
div.header img {
  max-height: 2.5rem;
}

h1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.56rem;
  color: #fff;
  margin: 0 0 2rem 0;
}

h2 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff;
  margin: 0 0 2rem 0;
}

body {
  background-color: #000;
  height: 100vh;
  /* 
      ====================================
      ========== BACKGROUND ==============
      ====================================
  */
  /*
      =========================================================
      ========================= FORM ==========================
      =========================================================
  */
}
body svg:not(.navIcon) {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}
body div.positioning {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 3rem);
  justify-content: center;
  padding: 0 2rem;
}
body div.positioning a.login {
  color: #fff;
  margin: 0 0.5rem;
}
