/* 
    ====================================
    ========= FONT POPPINS =============
    ====================================
*/
/* 
    ====================
          regular
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400, normal;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400, normal;
}
/* 
    ====================
          bold
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800, bold;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-bolditalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800, bold;
}
/* 
    ====================
          light
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-light.ttf) format("truetype");
  font-style: normal;
  font-weight: 100, lighter;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-lightitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100, lighter;
}
/* 
    ====================================
    ======= FONT MONTSERRAT ============
    ====================================
*/
/* 
    ====================
          regular
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 400, normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-mediumitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400, normal;
}
/* 
    ====================
          bold
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800, bold;
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-bolditalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800, bold;
}
/* 
    ====================
          light
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-light.ttf) format("truetype");
  font-style: normal;
  font-weight: 100, lighter;
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-lightitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100, lighter;
}
/* 
    ====================================
    ========= FONT POPPINS =============
    ====================================
*/
/* 
    ====================
          regular
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400, normal;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400, normal;
}
/* 
    ====================
          bold
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800, bold;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-bolditalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800, bold;
}
/* 
    ====================
          light
    ====================
*/
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-light.ttf) format("truetype");
  font-style: normal;
  font-weight: 100, lighter;
}
@font-face {
  font-family: "Poppins";
  src: url(./assets/fonts/poppins/poppins-lightitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100, lighter;
}
/* 
    ====================================
    ======= FONT MONTSERRAT ============
    ====================================
*/
/* 
    ====================
          regular
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 400, normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-mediumitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400, normal;
}
/* 
    ====================
          bold
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800, bold;
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-bolditalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800, bold;
}
/* 
    ====================
          light
    ====================
*/
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-light.ttf) format("truetype");
  font-style: normal;
  font-weight: 100, lighter;
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat/montserrat-lightitalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100, lighter;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
body svg:not(.navIcon) {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}
body img {
  width: 75%;
  max-width: 20rem;
  position: relative;
  top: 2rem;
}
body a {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0.5rem 3rem;
  border: none;
  background-color: #FFF194;
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
}
