@import 'colors';
@import 'fonts';
@import 'reset-styling';
@import 'header';
@import 'headings';

body {
    background-color: $background;
    height: 100vh;

    /* 
        ====================================
        ========== BACKGROUND ==============
        ====================================
    */

    svg {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    div:nth-of-type(2) {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
}