@import 'colors';
@import 'fonts';
@import 'reset-styling';

body {
    background-color: $background;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    svg {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    img {
        width: 75%;
        max-width: 20rem;
        position: relative;
        top: 2rem;
    }

    a {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        padding: 0.5rem 3rem;
        border: none;
        background-color: $buttonColor;
        color: $textBlack;
        text-decoration: none;
        font-size: 0.8rem;
    }
}

