@import 'colors';
@import 'fonts';
@import 'reset-styling';
@import 'header';
@import 'headings';
@import 'nav';

body {
    background-color: $background;
    height: 100vh;

    /* 
        ====================================
        ========== BACKGROUND ==============
        ====================================
    */

    svg:not(.navIcon)  {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    div:nth-of-type(2) {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }


    div.homepage {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: calc(100vh - 6rem);
        
        div {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;


            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                list-style: none;
                height: 38vh;
                margin: 2rem 0 0 0;
    
                li {
                    border-bottom: 1px solid $textWhite;
                    padding: 0 0 1rem 0;
                    display: block;
                    width: 80vw;
    
                    a {
                        color: $textWhite;
                        font-family: $fontPoppins;
                        text-decoration: none;
                    }
                }
            }

            div#removeAccountField.fieldsetNone{
                display: none;
            }
            div#removeAccountField {
                display: flex;
                border: 3px solid $invalidFormColor;
                padding: 0.5rem 1rem;
                flex-direction: column;
                justify-content: space-evenly;
                height: 20vh;
                width: 70vw;

                label {
                    font-family: $fontPoppins;
                    color: $textWhite;
                    margin: 0 0 0.2rem 0;
                }
    
                input {
                    width: 100%;
                    height: 1.8rem;
                }

                input[type="submit"] {
                    padding: 0;
                }
            }
    
            button,
            input[type="submit"] {
                font-family: $fontPoppins;
                border: none;
                padding: 0.5rem 2rem;
                margin-bottom: 0.5rem;
                color: $textWhite;
                background-color: $invalidFormColor;
                cursor: pointer;
            }

            button {
                display: block;
            }

            button.none {
                display: none;
            }

            button:hover,
            button:active,
            button:focus {
                background-color: $invalidHover;
            }
        }
    }
}