@import 'colors';
@import 'fonts';
@import 'reset-styling';
@import 'header';
@import 'headings';


body {
    background-color: $background;
    height: 100vh;

/* 
    ====================================
    ========== BACKGROUND ==============
    ====================================
*/

    svg:not(.navIcon)  {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

/*
    =========================================================
    ========================= FORM ==========================
    =========================================================
*/

        div.positioning {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: calc(100vh - 3rem);
            justify-content: center;
            padding: 0 2rem;

            a.login {
                color: $textWhite;
                margin: 0 0.5rem;
            }

        }

    }